---
import { Image } from "astro:assets";
export interface Props {
  imageUrl: string;
  onHoverImageUrl: string;
  height: string;
  width: string;
}

const { imageUrl, onHoverImageUrl, height, width } = Astro.props;
---

<div>
  <img
    data-hover-image={onHoverImageUrl}
    data-src-image={imageUrl}
    src={imageUrl}
    height={height}
    width={width}
    alt="Arach's Face"
  />
</div>

<script>
  const image = document.querySelectorAll("[data-src-image]");
  image.forEach(img => {
    img.addEventListener("mouseover", () => {
      const hoverImage = img.getAttribute("data-hover-image");
      if (hoverImage) {
        img.setAttribute("src", hoverImage);
      }
    });
    img.addEventListener("mouseout", () => {
      const srcImage = img.getAttribute("data-src-image");
      if (srcImage) {
        img.setAttribute("src", srcImage);
      }
    });
  });
  const hoverImages = document.querySelectorAll("[data-hover-image]");
</script>
