---
export interface Props {
  href: string;
  className?: string;
  ariaLabel?: string;
  title?: string;
  disabled?: boolean;
  style?: string;
}

const {
  href,
  className,
  ariaLabel,
  title,
  disabled = false,
  style,
} = Astro.props;
---

{
  disabled ? (
    <span
      class={`group inline-block ${className}`}
      aria-label={ariaLabel}
      title={title}
      aria-disabled={disabled}
      style={style}
    >
      <slot />
    </span>
  ) : (
    <a
      {href}
      class={`group inline-block hover:text-skin-accent ${className}`}
      aria-label={ariaLabel}
      title={title}
      style={style}
    >
      <slot />
    </a>
  )
}
